@font-face {
    font-family: 'TeX Gyre Adventor';
    src: url('texgyreadventor-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeX Gyre Adventor';
    src: url('texgyreadventor-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TeX Gyre Adventor';
    src: url('texgyreadventor-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TeX Gyre Adventor';
    src: url('texgyreadventor-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
